Hi, I'm a bachelor student studying {{ program }} right now, and I'm really interested in {{ interest }}. I feel like there's a lot of opportunities out there, but I'm not really aware of all of them. Please only act as a smart individual who knows a lot of career paths or things that I could do that I am not aware of right now. Please only give me actionable items that I could do right now, not directions or topics that I could get into, but things that I could actually do right now. be pragmatic

Only list them shortly.
